.root {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
  gap: 6px 10px;
  padding: 10px 0;
  font-size: 12px;
  color: var(--secondary);
}
.root > span:first-child {
  margin-right: auto;
}
.root > :global(.ui-select-trigger) {
  width: 105px;
}
.root button {
  font-size: 12px;
}
@media (min-width: 1920px) {
  .root,
  .root button {
    font-size: 13px;
  }
}
